src/checkout.pug
extends _base

block classname
  -var cartActive = 'active'

block content
  .container
    +breadcrumbs(['Главная', 'Корзина'])
    // BEGIN CHECKOUT 
    +b.checkout
      +e.title Корзина
      +e.list
        +b.checkout-item
          +e.BUTTON.remove(type="button")
            +b.I.icon._remove
          +e.pair
            +e.preview
              img(src="images/product1.jpg", alt="")
            +e.desc
              +e.A.manufacturer(href="#") MAGPLAYER
              +e.text Конструктор магнитный набор 112 эл.
          +e.pair
            +e.count
              +counter
            +e.price 2 850
              +b.SPAN.rub a
        +b.checkout-item
          +e.BUTTON.remove(type="button")
            +b.I.icon._remove
          +e.pair
            +e.preview
              img(src="images/product1.jpg", alt="")
            +e.desc
              +e.A.manufacturer(href="#") PLAYMAGS
              +e.text Конструктор магнитный набор 112 эл.
          +e.pair
            +e.count
              +counter
            +e.price 2 850
              +b.SPAN.rub a


      +e.total Всего к оплате:  6 550
        +b.SPAN.rub a 

      +b.checkout-form
        form
          +e.wrap
            +e.col
              +e.title Чтобы оформить заказ:
              ol
                li Свяжитесь с нами по телефону 
                  br
                  a(href="tel:88006704280") 8 (800) 670-42-80
                li Либо заполните форму заказа
            +e.form
              .form-line
                +b.field
                  input(type="text", placeholder="Имя и фамилия*", name="name", required)
              .form-line
                +b.field
                  input(type="tel", placeholder="Номер телефона*", name="phone", required)
              .form-line
                +b.field
                  input(type="text", placeholder="Город", name="city")
              .form-line
                +b.field
                  textarea(name="message", rows="5", placeholder="Ваше сообщение")
              .form-required *поля обязательные для заполнения
              +e.btn-wrap
                +b.BUTTON.btn._primary(type="submit") Оформить заказ
            +e.col._shipping
              +b.checkout-shipping
                +e.title Варианты доставки:
                +e.line
                  +b.LABEL.checkbox
                    input(type="checkbox")
                    span Забрать в пункте выдачи
                      br
                      span.color-primary Доступно сегодня
                      br
                      span.color-primary2 Адрес: г. Москва, Комсомольская площадь, 1а ст.4
                +e.line
                  +b.LABEL.checkbox
                    input(type="checkbox")
                    span Доставка курьером
                      br
                      span.color-primary Доступно сегодня

    // END CHECKOUT 

dev/checkout.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Constructional</title>
    <meta charset="utf-8"/>
    <meta content="" name="author"/>
    <meta content="" name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <!-- build:css css/vendor.css-->
    <link rel="stylesheet" href="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="_assets/magnific-popup/dist/magnific-popup.css"/>
    <link rel="stylesheet" href="_assets/swiper/dist/css/swiper.min.css"/>
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <div class="page__content">
        <!-- BEGIN HEADER -->
        <header class="header">
          <div class="header__wrap container">
            <div class="header__logo"><a class="logo" href="index.html"><img src="images/logo.png" alt=""/><span class="logo__text"><span class="logo__logo">constructional</span><span class="logo__small">Развивающие конструкторы для детей</span></span></a>
            </div>
            <div class="header__pair">
              <div class="header__addres">
                <div class="header-block">
                  <div class="header-block__icon"><i class="icon icon_address"></i>
                  </div>
                  <div class="header-block__text">Ул. Красноармейская, 79/2<br/><a class="header-block__phone" href="tel:+78200504703">+7 (820) 050-47-03</a><br/>Выберите город:
                    <!-- BEGIN CITY -->
                    <div class="city"><span class="city__current">Александровск-Сахалинский</span>
                      <div class="city__dropdown">
                        <div class="city__notfound">Ваш город не найден.
                        </div>
                        <div class="list-scroll">
                          <ul>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                          </ul>
                        </div>
                        <div class="search">
                          <form action="/">
                            <div class="search__wrap">
                              <div class="search__input">
                                <input type="text" name="search" placeholder="Введите город"/>
                              </div>
                              <button type="submit"><i class="icon icon_search"></i>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="dropdown-bg"></div>
                    </div>
                    <!-- END CITY -->
                  </div>
                </div>
              </div>
              <div class="header__phone">
                <div class="header-block">
                  <div class="header-block__icon"><i class="icon icon_phone"></i>
                  </div>
                  <div class="header-block__text">Бесплатный звонок<br/><a class="header-block__phone" href="tel:88006704280">8 (800) 670-42-80</a><br/><a class="js-popup-call" href="#popup-call">Заказать обратный звонок</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- END HEADER -->
        <!-- BEGIN TOP-NAV -->
        <div class="top-nav">
          <div class="top-nav__wrap container">
            <nav id="top-nav">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="how-to-order.html">Как купить?</a></li>
                <li><a href="shipping_payment.html">Доставка и оплата</a></li>
                <li><a href="wholesale.html">Оптом</a></li>
                <li><a href="contact.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="cart active"><a href="checkout.html"><i class="icon icon_cart"></i>Корзина <span class="cart__count">(0)</span></a>
            </div>
            <!-- BEGIN SEARCH -->
            <div class="search" id="top-search">
              <form action="/">
                <div class="search__wrap">
                  <div class="search__input">
                    <input type="text" name="search" placeholder="ПОИСК" autocomplete="off"/>
                  </div>
                  <button type="submit"><i class="icon icon_search"></i>
                  </button>
                  <div class="search__dropdown">
                    <div class="list-scroll">
                      <ul>
                        <li>Магнитные конструкторы</li>
                        <li>Металлические конструкторы</li>
                        <li><span>Мягкие конструкторы</span></li>
                        <li>Магнитные конструкторы</li>
                        <li>Металлические конструкторы</li>
                        <li>Мягкие конструкторы</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- END SEARCH -->
            <button class="search-toggle" type="button"><i class="icon icon_search-hover"></i>
            </button>
            <button class="hamburger" type="button"><span class="hamburger__line"></span><span class="hamburger__line"></span><span class="hamburger__line"></span>
            </button>
          </div>
        </div>
        <!-- END TOP-NAV -->
        <div class="container">
          <!-- BEGIN BREADCRUMBS -->
          <div class="breadcrumbs">
            <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
              <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Главная</span></a>
                <meta itemprop="position" content="1"/>
              </li>
              <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Корзина</span></a>
                <meta itemprop="position" content="2"/>
              </li>
            </ul>
          </div>
          <!-- END BREADCRUMBS -->
          <!-- BEGIN CHECKOUT -->
          <div class="checkout">
            <div class="checkout__title">Корзина
            </div>
            <div class="checkout__list">
              <div class="checkout-item">
                <button class="checkout-item__remove" type="button"><i class="icon icon_remove"></i>
                </button>
                <div class="checkout-item__pair">
                  <div class="checkout-item__preview"><img src="images/product1.jpg" alt="">
                  </div>
                  <div class="checkout-item__desc"><a class="checkout-item__manufacturer" href="#">MAGPLAYER</a>
                    <div class="checkout-item__text">Конструктор магнитный набор 112 эл.
                    </div>
                  </div>
                </div>
                <div class="checkout-item__pair">
                  <div class="checkout-item__count">
                    <div class="counter">
                      <div class="counter__label">Количество:
                      </div>
                      <div class="counter__wrap">
                        <button class="counter__minus" type="button"><i class="icon icon_minus"></i>
                        </button><input class="counter__field" type="text" value="1"/>
                        <button class="counter__plus" type="button"><i class="icon icon_plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-item__price">2 850<span class="rub">a</span>
                  </div>
                </div>
              </div>
              <div class="checkout-item">
                <button class="checkout-item__remove" type="button"><i class="icon icon_remove"></i>
                </button>
                <div class="checkout-item__pair">
                  <div class="checkout-item__preview"><img src="images/product1.jpg" alt="">
                  </div>
                  <div class="checkout-item__desc"><a class="checkout-item__manufacturer" href="#">PLAYMAGS</a>
                    <div class="checkout-item__text">Конструктор магнитный набор 112 эл.
                    </div>
                  </div>
                </div>
                <div class="checkout-item__pair">
                  <div class="checkout-item__count">
                    <div class="counter">
                      <div class="counter__label">Количество:
                      </div>
                      <div class="counter__wrap">
                        <button class="counter__minus" type="button"><i class="icon icon_minus"></i>
                        </button><input class="counter__field" type="text" value="1"/>
                        <button class="counter__plus" type="button"><i class="icon icon_plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-item__price">2 850<span class="rub">a</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout__total">Всего к оплате:  6 550<span class="rub">a </span>
            </div>
            <div class="checkout-form">
              <form>
                <div class="checkout-form__wrap">
                  <div class="checkout-form__col">
                    <div class="checkout-form__title">Чтобы оформить заказ:
                    </div>
                    <ol>
                      <li>Свяжитесь с нами по телефону <br><a href="tel:88006704280">8 (800) 670-42-80</a></li>
                      <li>Либо заполните форму заказа</li>
                    </ol>
                  </div>
                  <div class="checkout-form__form">
                    <div class="form-line">
                      <div class="field">
                        <input type="text" placeholder="Имя и фамилия*" name="name" required>
                      </div>
                    </div>
                    <div class="form-line">
                      <div class="field">
                        <input type="tel" placeholder="Номер телефона*" name="phone" required>
                      </div>
                    </div>
                    <div class="form-line">
                      <div class="field">
                        <input type="text" placeholder="Город" name="city">
                      </div>
                    </div>
                    <div class="form-line">
                      <div class="field">
                        <textarea name="message" rows="5" placeholder="Ваше сообщение"></textarea>
                      </div>
                    </div>
                    <div class="form-required">*поля обязательные для заполнения</div>
                    <div class="checkout-form__btn-wrap">
                      <button class="btn btn_primary" type="submit">Оформить заказ
                      </button>
                    </div>
                  </div>
                  <div class="checkout-form__col checkout-form__col_shipping">
                    <div class="checkout-shipping">
                      <div class="checkout-shipping__title">Варианты доставки:
                      </div>
                      <div class="checkout-shipping__line">
                        <label class="checkbox">
                          <input type="checkbox"><span>Забрать в пункте выдачи<br><span class="color-primary">Доступно сегодня</span><br><span class="color-primary2">Адрес: г. Москва, Комсомольская площадь, 1а ст.4</span></span>
                        </label>
                      </div>
                      <div class="checkout-shipping__line">
                        <label class="checkbox">
                          <input type="checkbox"><span>Доставка курьером<br><span class="color-primary">Доступно сегодня</span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- END CHECKOUT -->
        </div>
      </div>
      <div class="page__footer">
        <!-- BEGIN FOOTER -->
        <footer class="footer">
          <div class="footer__wrap container">
            <div class="footer__logo"><a class="logo" href="#"><img src="images/logo.png" alt=""/><span class="logo__text"><span class="logo__logo">constructional</span><span class="logo__small">Развивающие конструкторы для детей</span></span></a>
              <p class="footer__copy">Цены указаны с учетом НДС. Доставка по всей России. <br>Россия, Москва, 1-й Кожевнический пер., д.28. <br>&copy; 2016 ООО "Constructional"
              </p>
            </div>
            <div class="footer__inner">
              <nav>
                <ul>
                  <li><a href="catalog.html">Каталог</a></li>
                  <li><a href="how-to-order.html">Как купить?</a></li>
                  <li><a href="shipping_payment.html">Доставка и оплата</a></li>
                  <li><a href="wholesale.html">Оптом</a></li>
                  <li><a href="oferta.html">Публичная оферта</a></li>
                  <li><a href="conditions.html">Возврат и обмен</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                  <li><a href="sitemap.html">Карта сайта</a></li>
                </ul>
              </nav>
              <div class="footer__line">
                <div class="footer__box">
                  <div class="footer__phone">Бесплатный звонок <br/><a class="footer__phone-link" href="tel:88006704280">8 (800) 670-42-80</a><br/><a class="js-popup-call" href="#popup-call">Заказать обратный звонок</a>
                  </div>
                </div>
                <div class="footer__box">
                  <div class="footer__subtitle">Принимаем к оплате
                  </div><a class="footer__payment" href="#"><img src="images/payment.png" alt=""/></a>
                </div>
                <div class="footer__box">
                  <div class="footer__subtitle">Мы в соц.сетях
                  </div>
                  <div class="social">
                    <ul>
                      <li><a href="#"><i class="icon icon_vk"></i></a></li>
                      <li><a href="#"><i class="icon icon_gp"></i></a></li>
                      <li><a href="#"><i class="icon icon_od"></i></a></li>
                      <li><a href="#"><i class="icon icon_tw"></i></a></li>
                      <li><a href="#"><i class="icon icon_fb"></i></a></li>
                      <li><a href="#"><i class="icon icon_in"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- END FOOTER -->
      </div>
      <div class="popup-call mfp-hide" id="popup-call">
        <form action="/">
          <div class="popup-call__title">Заказать обратный звонок
          </div>
          <div class="form-line">
            <div class="field">
              <input type="text" placeholder="Ваше имя" name="name">
            </div>
          </div>
          <div class="form-line">
            <div class="field">
              <input type="text" placeholder="Телефон" name="phone">
            </div>
          </div>
          <div class="popup-call__btn-wrap">
            <button class="btn btn_primary" type="submit">Заказать звонок
            </button>
          </div>
        </form>
      </div>
      <div class="popup-call mfp-hide" id="popup-call-success">
        <div class="popup-call__title">Спасибо!
        </div>
        <p>Наш менеджер свяжется с вами в ближайшее время.</p>
      </div>
    </div>
    <!-- build:js js/vendor.js-->
    <script src="_assets/jquery/dist/jquery.min.js"></script>
    <script src="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="_assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="_assets/swiper/dist/js/swiper.min.js"></script>
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </body>
</html>
