dev/requisites.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Constructional</title>
    <meta charset="utf-8"/>
    <meta content="" name="author"/>
    <meta content="" name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <!-- build:css css/vendor.css-->
    <link rel="stylesheet" href="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="_assets/magnific-popup/dist/magnific-popup.css"/>
    <link rel="stylesheet" href="_assets/swiper/dist/css/swiper.min.css"/>
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <div class="page__content">
        <!-- BEGIN HEADER -->
        <header class="header">
          <div class="header__wrap container">
            <div class="header__logo"><a class="logo" href="index.html"><img src="images/logo.png" alt=""/><span class="logo__text"><span class="logo__logo">constructional</span><span class="logo__small">Развивающие конструкторы для детей</span></span></a>
            </div>
            <div class="header__pair">
              <div class="header__addres">
                <div class="header-block">
                  <div class="header-block__icon"><i class="icon icon_address"></i>
                  </div>
                  <div class="header-block__text">Ул. Красноармейская, 79/2<br/><a class="header-block__phone" href="tel:+78200504703">+7 (820) 050-47-03</a><br/>Выберите город:
                    <!-- BEGIN CITY -->
                    <div class="city"><span class="city__current">Александровск-Сахалинский</span>
                      <div class="city__dropdown">
                        <div class="city__notfound">Ваш город не найден.
                        </div>
                        <div class="list-scroll">
                          <ul>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                          </ul>
                        </div>
                        <div class="search">
                          <form action="/">
                            <div class="search__wrap">
                              <div class="search__input">
                                <input type="text" name="search" placeholder="Введите город"/>
                              </div>
                              <button type="submit"><i class="icon icon_search"></i>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="dropdown-bg"></div>
                    </div>
                    <!-- END CITY -->
                  </div>
                </div>
              </div>
              <div class="header__phone">
                <div class="header-block">
                  <div class="header-block__icon"><i class="icon icon_phone"></i>
                  </div>
                  <div class="header-block__text">Бесплатный звонок<br/><a class="header-block__phone" href="tel:88006704280">8 (800) 670-42-80</a><br/><a class="js-popup-call" href="#popup-call">Заказать обратный звонок</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- END HEADER -->
        <!-- BEGIN TOP-NAV -->
        <div class="top-nav">
          <div class="top-nav__wrap container">
            <nav id="top-nav">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="how-to-order.html">Как купить?</a></li>
                <li><a href="shipping_payment.html">Доставка и оплата</a></li>
                <li><a href="wholesale.html">Оптом</a></li>
                <li class="active"><a href="contact.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="cart"><a href="checkout.html"><i class="icon icon_cart"></i>Корзина <span class="cart__count">(0)</span></a>
            </div>
            <!-- BEGIN SEARCH -->
            <div class="search" id="top-search">
              <form action="/">
                <div class="search__wrap">
                  <div class="search__input">
                    <input type="text" name="search" placeholder="ПОИСК" autocomplete="off"/>
                  </div>
                  <button type="submit"><i class="icon icon_search"></i>
                  </button>
                  <div class="search__dropdown">
                    <div class="list-scroll">
                      <ul>
                        <li>Магнитные конструкторы</li>
                        <li>Металлические конструкторы</li>
                        <li><span>Мягкие конструкторы</span></li>
                        <li>Магнитные конструкторы</li>
                        <li>Металлические конструкторы</li>
                        <li>Мягкие конструкторы</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- END SEARCH -->
            <button class="search-toggle" type="button"><i class="icon icon_search-hover"></i>
            </button>
            <button class="hamburger" type="button"><span class="hamburger__line"></span><span class="hamburger__line"></span><span class="hamburger__line"></span>
            </button>
          </div>
        </div>
        <!-- END TOP-NAV -->
        <div class="container">
          <!-- BEGIN BREADCRUMBS -->
          <div class="breadcrumbs">
            <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
              <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Главная</span></a>
                <meta itemprop="position" content="1"/>
              </li>
              <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Контакты</span></a>
                <meta itemprop="position" content="2"/>
              </li>
            </ul>
          </div>
          <!-- END BREADCRUMBS -->
          <!-- BEGIN CONTACT -->
          <div class="contact">
            <div class="contact__title">Контакты
            </div>
            <!-- BEGIN NAV SMALL-->
            <div class="nav-small">
              <ul>
                <li><a href="contact.html">Контакты</a></li>
                <li class="active"><a href="requisites.html">Реквизиты</a></li>
              </ul>
            </div>
            <!-- END NAV SMALL-->
            <!-- BEGIN REQUISITES-->
            <div class="requisites">
              <dl>
                <div>
                  <dt><span>Наименование организации:</span></dt>
                  <dd> <span>Общество с ограниченной ответственностью «Босфор» </span></dd>
                </div>
                <div>
                  <dt><span>Краткое наименование:</span></dt>
                  <dd> <span>ООО «Босфор» ИНН7017428647 КПП701701001 ОГРН 1177031078091</span></dd>
                </div>
                <div>
                  <dt><span>Юридический адрес:</span></dt>
                  <dd> <span>634009, г. Томск, ул. Карла Маркса, 48/1, пом. 4010</span></dd>
                </div>
                <div>
                  <dt><span>Почтовый адрес: </span></dt>
                  <dd> <span>634034, г. Томск, а/я 434</span></dd>
                </div>
                <div>
                  <dt><span>Адрес электронной почты:</span></dt>
                  <dd> <span>region7017@mail.ru</span></dd>
                </div>
                <div>
                  <dt><span>Телефон:</span></dt>
                  <dd> <span>0 (800) 670-42-80</span></dd>
                </div>
                <div>
                  <dt><span>Должность руководителя:</span></dt>
                  <dd> <span>Директор</span></dd>
                </div>
                <div>
                  <dt><span>ФИО руководителя:</span></dt>
                  <dd> <span>Кожемякин Дмитрий Сергеевич</span></dd>
                </div>
                <div>
                  <dt><span>Действует на основании:</span></dt>
                  <dd> <span>Устав</span></dd>
                </div>
                <div>
                  <dt><span>Главный бухгалтер:</span></dt>
                  <dd> <span>Кожемякин Дмитрий Сергеевич</span></dd>
                </div>
                <div>
                  <dt><span>Расчетный счет:</span></dt>
                  <dd> <span>40702810564000006852</span></dd>
                </div>
                <div>
                  <dt><span>Наименование банка:</span></dt>
                  <dd> <span>ПАО «Сбербанк России» БИК 046902606</span></dd>
                </div>
                <div>
                  <dt><span>Корреспондентский счет:</span></dt>
                  <dd> <span>30101810800000000606 ОКПО 16514824</span></dd>
                </div>
              </dl>
            </div>
            <!-- END REQUISITES-->
            <div class="content">
              <h2>Возврат товара</h2>
              <p>Постановление Правительства РФ от 19 января 1998 г. В случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, парфюмерно-косметические изделия, товары бытовой химии и другие товары), покупатель вправе по своему выбору потребовать замены такого товара товаром надлежащего качества либо соразмерного уменьшения покупной цены. Вместо предъявления указанных требований покупатель вправе отказаться от приобретенного товара и потребовать возврата уплаченной за товар денежной суммы. При этом покупатель по требованию продавца и за его счет должен возвратить полученный товар ненадлежащего качества.</p>
              <h2>Конфиденциальность</h2>
              <p>Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.</p>
              <ol>
                <li>
                  <h4>1. Определения</h4>
                  <p>Интернет проект kvadromax.ru , мы серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта kvadromax.ru Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях, совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).</p>
                </li>
                <li>
                  <h4>2. Использование информации</h4>
                  <p>Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL.</p>
                </li>
                <li>
                  <h4>3. Ссылки</h4>
                  <p>Сайт <a href="kvadromax.ru">kvadromax.ru</a> может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.</p>
                </li>
                <li>
                  <h4>4. Ограничение ответственности</h4>
                  <p>Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт kvadromax.ru и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.</p>
                </li>
                <li>
                  <h4>5. Контакты</h4>
                  <p>По вопросам, касающимся настоящей политики, просьба обращаться по адресу: <a href="mailto:info@kvadromax.ru">info@kvadromax.ru</a></p>
                </li>
              </ol>
            </div>
          </div>
          <!-- END CONTACT -->
        </div>
        <!-- BEGIN INNER MAP -->
        <div class="inner-map">
          <div class="container">
            <div class="inner-map__title">Купить конструктор в Воронеже
            </div>
          </div>
          <div class="inner-map__map" data-info="[{&quot;data&quot;: { &quot;city&quot;: &quot;Москва&quot;, &quot;address&quot;: &quot;Ул. Красноармейская, 79/2&quot;, &quot;phone&quot;: &quot;+7 (820) 050-47-03&quot;, &quot;worktime&quot;: &quot;Пн-Пт : 10:00 - 20:00&lt;br&gt;Сб : 10:00 - 16:00&lt;br&gt;Вс : 10:00 - 14:00&quot;}, &quot;position&quot;: {&quot;lat&quot;: 46.481974, &quot;lng&quot;: 30.738917}},{&quot;data&quot;: { &quot;city&quot;: &quot;Москва2&quot;, &quot;address&quot;: &quot;Ул. Красноармейская, 79/2&quot;, &quot;phone&quot;: &quot;+7 (820) 050-47-03&quot;, &quot;worktime&quot;: &quot;Пн-Пт : 10:00 - 20:00&lt;br&gt;Сб : 10:00 - 16:00&lt;br&gt;Вс : 10:00 - 14:00&quot;}, &quot;position&quot;: {&quot;lat&quot;: 46.482170, &quot;lng&quot;: 30.741216}}]" data-mapposition="{&quot;lat&quot;: 46.481974, &quot;lng&quot;: 30.738917}" id="map-inner">
          </div>
        </div>
        <!-- END INNER MAP -->
      </div>
      <div class="page__footer">
        <!-- BEGIN FOOTER -->
        <footer class="footer">
          <div class="footer__wrap container">
            <div class="footer__logo"><a class="logo" href="#"><img src="images/logo.png" alt=""/><span class="logo__text"><span class="logo__logo">constructional</span><span class="logo__small">Развивающие конструкторы для детей</span></span></a>
              <p class="footer__copy">Цены указаны с учетом НДС. Доставка по всей России. <br>Россия, Москва, 1-й Кожевнический пер., д.28. <br>&copy; 2016 ООО "Constructional"
              </p>
            </div>
            <div class="footer__inner">
              <nav>
                <ul>
                  <li><a href="catalog.html">Каталог</a></li>
                  <li><a href="how-to-order.html">Как купить?</a></li>
                  <li><a href="shipping_payment.html">Доставка и оплата</a></li>
                  <li><a href="wholesale.html">Оптом</a></li>
                  <li><a href="oferta.html">Публичная оферта</a></li>
                  <li><a href="conditions.html">Возврат и обмен</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                  <li><a href="sitemap.html">Карта сайта</a></li>
                </ul>
              </nav>
              <div class="footer__line">
                <div class="footer__box">
                  <div class="footer__phone">Бесплатный звонок <br/><a class="footer__phone-link" href="tel:88006704280">8 (800) 670-42-80</a><br/><a class="js-popup-call" href="#popup-call">Заказать обратный звонок</a>
                  </div>
                </div>
                <div class="footer__box">
                  <div class="footer__subtitle">Принимаем к оплате
                  </div><a class="footer__payment" href="#"><img src="images/payment.png" alt=""/></a>
                </div>
                <div class="footer__box">
                  <div class="footer__subtitle">Мы в соц.сетях
                  </div>
                  <div class="social">
                    <ul>
                      <li><a href="#"><i class="icon icon_vk"></i></a></li>
                      <li><a href="#"><i class="icon icon_gp"></i></a></li>
                      <li><a href="#"><i class="icon icon_od"></i></a></li>
                      <li><a href="#"><i class="icon icon_tw"></i></a></li>
                      <li><a href="#"><i class="icon icon_fb"></i></a></li>
                      <li><a href="#"><i class="icon icon_in"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- END FOOTER -->
      </div>
      <div class="popup-call mfp-hide" id="popup-call">
        <form action="/">
          <div class="popup-call__title">Заказать обратный звонок
          </div>
          <div class="form-line">
            <div class="field">
              <input type="text" placeholder="Ваше имя" name="name">
            </div>
          </div>
          <div class="form-line">
            <div class="field">
              <input type="text" placeholder="Телефон" name="phone">
            </div>
          </div>
          <div class="popup-call__btn-wrap">
            <button class="btn btn_primary" type="submit">Заказать звонок
            </button>
          </div>
        </form>
      </div>
      <div class="popup-call mfp-hide" id="popup-call-success">
        <div class="popup-call__title">Спасибо!
        </div>
        <p>Наш менеджер свяжется с вами в ближайшее время.</p>
      </div>
    </div>
    <!-- build:js js/vendor.js-->
    <script src="_assets/jquery/dist/jquery.min.js"></script>
    <script src="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="_assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="_assets/swiper/dist/js/swiper.min.js"></script>
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
    <script src="_assets/google-map-infobubble/src/infobubble-compiled.js"></script>
    <script src="js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&amp;callback=initInnerMap"></script>
  </body>
</html>

src/requisites.pug
extends _base

block classname
  -var navItemActive = 6

block content
  .container
    +breadcrumbs(['Главная', 'Контакты'])
    // BEGIN CONTACT 
    +b.contact
      +e.title Контакты

      // BEGIN NAV SMALL
      +b.nav-small
        ul
          li
            a(href="contact.html") Контакты
          li.active
            a(href="requisites.html") Реквизиты
      // END NAV SMALL

      // BEGIN REQUISITES
      +b.requisites
        dl
          div
            dt
              span Наименование организации:
            dd 
              span Общество с ограниченной ответственностью «Босфор» 
          div
            dt
              span Краткое наименование:
            dd 
              span ООО «Босфор» ИНН7017428647 КПП701701001 ОГРН 1177031078091
          div
            dt
              span Юридический адрес:
            dd 
              span 634009, г. Томск, ул. Карла Маркса, 48/1, пом. 4010
          div
            dt
              span Почтовый адрес: 
            dd 
              span 634034, г. Томск, а/я 434
          div
            dt
              span Адрес электронной почты:
            dd 
              span region7017@mail.ru
          div
            dt
              span Телефон:
            dd 
              span 0 (800) 670-42-80
          div
            dt
              span Должность руководителя:
            dd 
              span Директор
          div
            dt
              span ФИО руководителя:
            dd 
              span Кожемякин Дмитрий Сергеевич
          div
            dt
              span Действует на основании:
            dd 
              span Устав
          div
            dt
              span Главный бухгалтер:
            dd 
              span Кожемякин Дмитрий Сергеевич
          div
            dt
              span Расчетный счет:
            dd 
              span 40702810564000006852
          div
            dt
              span Наименование банка:
            dd 
              span ПАО «Сбербанк России» БИК 046902606
          div
            dt
              span Корреспондентский счет:
            dd 
              span 30101810800000000606 ОКПО 16514824
      // END REQUISITES

      .content
        h2 Возврат товара
        p Постановление Правительства РФ от 19 января 1998 г. В случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, парфюмерно-косметические изделия, товары бытовой химии и другие товары), покупатель вправе по своему выбору потребовать замены такого товара товаром надлежащего качества либо соразмерного уменьшения покупной цены. Вместо предъявления указанных требований покупатель вправе отказаться от приобретенного товара и потребовать возврата уплаченной за товар денежной суммы. При этом покупатель по требованию продавца и за его счет должен возвратить полученный товар ненадлежащего качества.

        h2 Конфиденциальность
        p Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.

        ol
          li
            h4 1. Определения
            p Интернет проект kvadromax.ru , мы серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта kvadromax.ru Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях, совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).
          li
            h4 2. Использование информации
            p Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам. Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL.
          li
            h4 3. Ссылки
            p Сайт <a href="kvadromax.ru">kvadromax.ru</a> может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.
          li
            h4 4. Ограничение ответственности
            p Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт kvadromax.ru и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.
          li
            h4 5. Контакты
            p По вопросам, касающимся настоящей политики, просьба обращаться по адресу: <a href="mailto:info@kvadromax.ru">info@kvadromax.ru</a>


    // END CONTACT 
  // BEGIN INNER MAP 
  +b.inner-map
    .container
      +e.title Купить конструктор в Воронеже
    +e.map(data-info='[{"data": { "city": "Москва", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.481974, "lng": 30.738917}},{"data": { "city": "Москва2", "address": "Ул. Красноармейская, 79/2", "phone": "+7 (820) 050-47-03", "worktime": "Пн-Пт : 10:00 - 20:00<br>Сб : 10:00 - 16:00<br>Вс : 10:00 - 14:00"}, "position": {"lat": 46.482170, "lng": 30.741216}}]', data-mapposition='{"lat": 46.481974, "lng": 30.738917}')#map-inner
  // END INNER MAP 

block append scripts
  script(src="_assets/google-map-infobubble/src/infobubble-compiled.js")
  script(src="js/map.js")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLCLyNf78NPiHzZ23qp9wA1CTXFUoLwY&callback=initInnerMap")
