src/wholesale.pug
extends _base

block classname
  -var navItemActive = 5

block content
  .container
    +breadcrumbs(['Главная', 'Оптом'])
    // BEGIN WHOLESALE 
    +b.wholesale
      +e.text
        .content
          h1 Оптом
          h3 Оптовые продажи
          p Наш интернет-магазин специализируется на оптовых продажах гироскутеров и сигвэев. Мы готовы предложить максимально выгодные условия для сотрудничества. Широкий ассортимент и оптовые цены дадут возможность заработать с каждой продажи гироскутеров от 5 000 руб. Оптовый склад находится в Москве.<br>Вы можете купить гироскутер по оптовой цене в неограниченном количестве и использовать его для проката в вашем городе, либо для продажи в ТЦ Вашего города.Чтобы оформить оптовый заказ, можете воспользоваться электронной почтой или позвонить по телефону:
          p E-mail:
            a(href="#") opt@opt.ru
          h3 Удобный сервис
          p Мы ввели несколько способов оплаты, различные варианты доставки и стремимся обеспечить быстрый, простой и безопасный опыт покупки для бизнесменов и потребителей по всей территории России.


      // BEGIN WHOLESALE FORM 
      +e.form#wholesale-form
        form
          +e.form-title Оставьте заявку
          +e.form-desc и наш менеджер свяжется с Вами
          .form-line
            +b.field
              input(type="text", placeholder="Имя и фамилия*", name="name", required)
          .form-line
            +b.field
              input(type="tel", placeholder="Номер телефона*", name="phone", required)
          .form-line
            +b.field
              input(type="text", placeholder="Город", name="city")
          .form-line
            +b.field
              input(type="email", placeholder="E-mail", name="email")
          .form-required *поля обязательные для заполнения
          +e.btn-wrap
            +b.BUTTON.btn._primary(type="submit") Запросить оптовый прайс
      // END WHOLESALE FORM 



    // END WHOLESALE 


block append popup
  +b.popup-order-success.mfp-hide#popup-order-success
    +e.title Александт, спасибо что выбрали наш интернет-магазин
    +e.desc В ближайшее время мы свяжемся <br>с Вами по телефону: 8 (945) 450-80-04
    +e.line
    +e.oreder-num Номер Вашей заявки 245
    +e.price Итого: 3 580 руб.
    p Будем рады видеть Вас нашим партнером

dev/wholesale.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Constructional</title>
    <meta charset="utf-8"/>
    <meta content="" name="author"/>
    <meta content="" name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <!-- build:css css/vendor.css-->
    <link rel="stylesheet" href="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="_assets/magnific-popup/dist/magnific-popup.css"/>
    <link rel="stylesheet" href="_assets/swiper/dist/css/swiper.min.css"/>
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
  </head>
  <body class="page">
    <div class="page__wrap">
      <div class="page__content">
        <!-- BEGIN HEADER -->
        <header class="header">
          <div class="header__wrap container">
            <div class="header__logo"><a class="logo" href="index.html"><img src="images/logo.png" alt=""/><span class="logo__text"><span class="logo__logo">constructional</span><span class="logo__small">Развивающие конструкторы для детей</span></span></a>
            </div>
            <div class="header__pair">
              <div class="header__addres">
                <div class="header-block">
                  <div class="header-block__icon"><i class="icon icon_address"></i>
                  </div>
                  <div class="header-block__text">Ул. Красноармейская, 79/2<br/><a class="header-block__phone" href="tel:+78200504703">+7 (820) 050-47-03</a><br/>Выберите город:
                    <!-- BEGIN CITY -->
                    <div class="city"><span class="city__current">Александровск-Сахалинский</span>
                      <div class="city__dropdown">
                        <div class="city__notfound">Ваш город не найден.
                        </div>
                        <div class="list-scroll">
                          <ul>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                            <li class="is-show"><a href="index-city.html">Валдай</a></li>
                            <li class="is-show"><a href="index-city.html">Валуйки</a></li>
                            <li class="is-show"><a href="index-city.html">Варнавино</a></li>
                            <li class="is-show"><a href="index-city.html">Васильсурск</a></li>
                            <li class="is-show"><a href="index-city.html">Велиж</a></li>
                            <li class="is-show"><a href="index-city.html">Великие Луки</a></li>
                            <li class="is-show"><a href="index-city.html">Великий Новгород</a></li>
                          </ul>
                        </div>
                        <div class="search">
                          <form action="/">
                            <div class="search__wrap">
                              <div class="search__input">
                                <input type="text" name="search" placeholder="Введите город"/>
                              </div>
                              <button type="submit"><i class="icon icon_search"></i>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="dropdown-bg"></div>
                    </div>
                    <!-- END CITY -->
                  </div>
                </div>
              </div>
              <div class="header__phone">
                <div class="header-block">
                  <div class="header-block__icon"><i class="icon icon_phone"></i>
                  </div>
                  <div class="header-block__text">Бесплатный звонок<br/><a class="header-block__phone" href="tel:88006704280">8 (800) 670-42-80</a><br/><a class="js-popup-call" href="#popup-call">Заказать обратный звонок</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- END HEADER -->
        <!-- BEGIN TOP-NAV -->
        <div class="top-nav">
          <div class="top-nav__wrap container">
            <nav id="top-nav">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="how-to-order.html">Как купить?</a></li>
                <li><a href="shipping_payment.html">Доставка и оплата</a></li>
                <li class="active"><a href="wholesale.html">Оптом</a></li>
                <li><a href="contact.html">Контакты</a></li>
              </ul>
            </nav>
            <div class="cart"><a href="checkout.html"><i class="icon icon_cart"></i>Корзина <span class="cart__count">(0)</span></a>
            </div>
            <!-- BEGIN SEARCH -->
            <div class="search" id="top-search">
              <form action="/">
                <div class="search__wrap">
                  <div class="search__input">
                    <input type="text" name="search" placeholder="ПОИСК" autocomplete="off"/>
                  </div>
                  <button type="submit"><i class="icon icon_search"></i>
                  </button>
                  <div class="search__dropdown">
                    <div class="list-scroll">
                      <ul>
                        <li>Магнитные конструкторы</li>
                        <li>Металлические конструкторы</li>
                        <li><span>Мягкие конструкторы</span></li>
                        <li>Магнитные конструкторы</li>
                        <li>Металлические конструкторы</li>
                        <li>Мягкие конструкторы</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- END SEARCH -->
            <button class="search-toggle" type="button"><i class="icon icon_search-hover"></i>
            </button>
            <button class="hamburger" type="button"><span class="hamburger__line"></span><span class="hamburger__line"></span><span class="hamburger__line"></span>
            </button>
          </div>
        </div>
        <!-- END TOP-NAV -->
        <div class="container">
          <!-- BEGIN BREADCRUMBS -->
          <div class="breadcrumbs">
            <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
              <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Главная</span></a>
                <meta itemprop="position" content="1"/>
              </li>
              <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Оптом</span></a>
                <meta itemprop="position" content="2"/>
              </li>
            </ul>
          </div>
          <!-- END BREADCRUMBS -->
          <!-- BEGIN WHOLESALE -->
          <div class="wholesale">
            <div class="wholesale__text">
              <div class="content">
                <h1>Оптом</h1>
                <h3>Оптовые продажи</h3>
                <p>Наш интернет-магазин специализируется на оптовых продажах гироскутеров и сигвэев. Мы готовы предложить максимально выгодные условия для сотрудничества. Широкий ассортимент и оптовые цены дадут возможность заработать с каждой продажи гироскутеров от 5 000 руб. Оптовый склад находится в Москве.<br>Вы можете купить гироскутер по оптовой цене в неограниченном количестве и использовать его для проката в вашем городе, либо для продажи в ТЦ Вашего города.Чтобы оформить оптовый заказ, можете воспользоваться электронной почтой или позвонить по телефону:</p>
                <p>E-mail:<a href="#">opt@opt.ru</a></p>
                <h3>Удобный сервис</h3>
                <p>Мы ввели несколько способов оплаты, различные варианты доставки и стремимся обеспечить быстрый, простой и безопасный опыт покупки для бизнесменов и потребителей по всей территории России.</p>
              </div>
            </div>
            <!-- BEGIN WHOLESALE FORM -->
            <div class="wholesale__form" id="wholesale-form">
              <form>
                <div class="wholesale__form-title">Оставьте заявку
                </div>
                <div class="wholesale__form-desc">и наш менеджер свяжется с Вами
                </div>
                <div class="form-line">
                  <div class="field">
                    <input type="text" placeholder="Имя и фамилия*" name="name" required>
                  </div>
                </div>
                <div class="form-line">
                  <div class="field">
                    <input type="tel" placeholder="Номер телефона*" name="phone" required>
                  </div>
                </div>
                <div class="form-line">
                  <div class="field">
                    <input type="text" placeholder="Город" name="city">
                  </div>
                </div>
                <div class="form-line">
                  <div class="field">
                    <input type="email" placeholder="E-mail" name="email">
                  </div>
                </div>
                <div class="form-required">*поля обязательные для заполнения</div>
                <div class="wholesale__btn-wrap">
                  <button class="btn btn_primary" type="submit">Запросить оптовый прайс
                  </button>
                </div>
              </form>
            </div>
            <!-- END WHOLESALE FORM -->
          </div>
          <!-- END WHOLESALE -->
        </div>
      </div>
      <div class="page__footer">
        <!-- BEGIN FOOTER -->
        <footer class="footer">
          <div class="footer__wrap container">
            <div class="footer__logo"><a class="logo" href="#"><img src="images/logo.png" alt=""/><span class="logo__text"><span class="logo__logo">constructional</span><span class="logo__small">Развивающие конструкторы для детей</span></span></a>
              <p class="footer__copy">Цены указаны с учетом НДС. Доставка по всей России. <br>Россия, Москва, 1-й Кожевнический пер., д.28. <br>&copy; 2016 ООО "Constructional"
              </p>
            </div>
            <div class="footer__inner">
              <nav>
                <ul>
                  <li><a href="catalog.html">Каталог</a></li>
                  <li><a href="how-to-order.html">Как купить?</a></li>
                  <li><a href="shipping_payment.html">Доставка и оплата</a></li>
                  <li><a href="wholesale.html">Оптом</a></li>
                  <li><a href="oferta.html">Публичная оферта</a></li>
                  <li><a href="conditions.html">Возврат и обмен</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                  <li><a href="sitemap.html">Карта сайта</a></li>
                </ul>
              </nav>
              <div class="footer__line">
                <div class="footer__box">
                  <div class="footer__phone">Бесплатный звонок <br/><a class="footer__phone-link" href="tel:88006704280">8 (800) 670-42-80</a><br/><a class="js-popup-call" href="#popup-call">Заказать обратный звонок</a>
                  </div>
                </div>
                <div class="footer__box">
                  <div class="footer__subtitle">Принимаем к оплате
                  </div><a class="footer__payment" href="#"><img src="images/payment.png" alt=""/></a>
                </div>
                <div class="footer__box">
                  <div class="footer__subtitle">Мы в соц.сетях
                  </div>
                  <div class="social">
                    <ul>
                      <li><a href="#"><i class="icon icon_vk"></i></a></li>
                      <li><a href="#"><i class="icon icon_gp"></i></a></li>
                      <li><a href="#"><i class="icon icon_od"></i></a></li>
                      <li><a href="#"><i class="icon icon_tw"></i></a></li>
                      <li><a href="#"><i class="icon icon_fb"></i></a></li>
                      <li><a href="#"><i class="icon icon_in"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- END FOOTER -->
      </div>
      <div class="popup-call mfp-hide" id="popup-call">
        <form action="/">
          <div class="popup-call__title">Заказать обратный звонок
          </div>
          <div class="form-line">
            <div class="field">
              <input type="text" placeholder="Ваше имя" name="name">
            </div>
          </div>
          <div class="form-line">
            <div class="field">
              <input type="text" placeholder="Телефон" name="phone">
            </div>
          </div>
          <div class="popup-call__btn-wrap">
            <button class="btn btn_primary" type="submit">Заказать звонок
            </button>
          </div>
        </form>
      </div>
      <div class="popup-call mfp-hide" id="popup-call-success">
        <div class="popup-call__title">Спасибо!
        </div>
        <p>Наш менеджер свяжется с вами в ближайшее время.</p>
      </div>
      <div class="popup-order-success mfp-hide" id="popup-order-success">
        <div class="popup-order-success__title">Александт, спасибо что выбрали наш интернет-магазин
        </div>
        <div class="popup-order-success__desc">В ближайшее время мы свяжемся <br>с Вами по телефону: 8 (945) 450-80-04
        </div>
        <div class="popup-order-success__line">
        </div>
        <div class="popup-order-success__oreder-num">Номер Вашей заявки 245
        </div>
        <div class="popup-order-success__price">Итого: 3 580 руб.
        </div>
        <p>Будем рады видеть Вас нашим партнером</p>
      </div>
    </div>
    <!-- build:js js/vendor.js-->
    <script src="_assets/jquery/dist/jquery.min.js"></script>
    <script src="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="_assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="_assets/swiper/dist/js/swiper.min.js"></script>
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </body>
</html>
